**/node_modules/
build/
src/
doc/
test/
examples/
*.tgz
debug.log
jsdoc.conf.json
gulpfile.js
**/tsconfig*.*
tslint.json
webpack.*
**/.vscode
*.code-workspace
.npmignore
.gitignore

